<%#encoding:UTF-8%><!DOCTYPE html>
<html<%= (attr? :nolang) ? nil : %( lang="#{attr :lang, 'en'}") %> amp>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= attr :encoding %>">
<meta name="generator" content="Asciidoctor <%= attr 'asciidoctor-version' %>">
[:description, :keywords, :author, :copyright].each do |key|
  if attr? key %>
<meta name="<%= key %>" content="<%= attr key %>"><%
  end
end %>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<title><%= doctitle(:sanitize => true) || (attr 'untitled-label') %></title><%
if Asciidoctor::DEFAULT_STYLESHEET_KEYS.include?(attr :stylesheet)
  if @safe >= Asciidoctor::SafeMode::SECURE || (attr? :linkcss) %>
<link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
            "logo.jpg"
        ]
    }
</script>
<style amp-boilerplate>
        body{
            -webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
            -moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
            -ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
            animation:-amp-start 8s steps(1,end) 0s 1 normal both
        }
        @-webkit-keyframes -amp-start{
            from{visibility:hidden}to{visibility:visible}
        }
        @-moz-keyframes -amp-start{
            from{visibility:hidden}to{visibility:visible}
        }
        @-ms-keyframes -amp-start{
            from{visibility:hidden}to{visibility:visible}
        }
        @-o-keyframes -amp-start{
            from{visibility:hidden}to{visibility:visible}
        }
        @keyframes -amp-start{
            from{visibility:hidden}to{visibility:visible}
        }
</style>
<noscript>
    <style amp-boilerplate>
        body{
            -webkit-animation:none;
            -moz-animation:none;
            -ms-animation:none;
            animation:none
        }
    </style>
</noscript>
<%= (docinfo_content = docinfo).empty? ? nil : %(
#{docinfo_content}) %>
</head>
<body><%
unless noheader %>
<div id="header"><%
  if doctype == 'manpage' %>
<h1><%= doctitle %> Manual Page</h1><%
    if (attr? :toc) && (attr? 'toc-placement', 'auto') %>
<div id="toc" class="<%= attr 'toc-class', 'toc' %>">
<div id="toctitle"><%= attr 'toc-title' %></div>
<%= converter.convert self, 'outline' %>
</div><%
    end %>
<h2><%= attr 'manname-title' %></h2>
<div class="sectionbody">
<p><%= %(#{attr :manname} - #{attr :manpurpose}) %></p>
</div><%
  else 
    if has_header?
      unless notitle %>
<h1><%= @header.title %></h1><%
      end
      if (attr? :author) || (attr? :revnumber) || (attr? :revdate) || (attr? :revremark) %>
<div class="details"><%
        if attr? :author %>
<span id="author" class="author"><%= attr :author %></span><br><%
          if attr? :email %>
<span id="email" class="email"><%= sub_macros(attr :email) %></span><br><%
          end
          if (authorcount = (attr :authorcount).to_i) > 1
            (2..authorcount).each do |idx| %>
<span id="author<%= idx %>" class="author"><%= attr %(author_#{idx}) %></span><br><%
              if attr?  %(email_#{idx}) %>
<span id="email<%= idx %>" class="email"><%= sub_macros(attr %(email_#{idx})) %></span><br><%
              end
            end
          end
        end
        if attr? :revnumber %>
<span id="revnumber"><%= ((attr 'version-label') || '').downcase %> <%= attr :revnumber %><%= attr?(:revdate) ? ',' : '' %></span><%
        end
        if attr? :revdate %>
<span id="revdate"><%= attr :revdate %></span><%
        end
        if attr? :revremark %>
<br>
<span id="revremark"><%= attr :revremark %></span><%
        end %>
</div><%
      end
    end
    if (attr? :toc) && (attr? 'toc-placement', 'auto') %>
<div id="toc" class="<%= attr 'toc-class', 'toc' %>">
<div id="toctitle"><%= attr 'toc-title' %></div>
<%= converter.convert self, 'outline' %>
</div><%
    end
  end %>
</div><%
end %>
<div id="content">
<%= content %>
</div><%
unless !footnotes? || attr?(:nofootnotes) %>
<div id="footnotes">
<hr><%
  footnotes.each do |fn| %>
<div class="footnote" id="_footnote_<%= fn.index %>">
<a href="#_footnoteref_<%= fn.index %>"><%= fn.index %></a>. <%= fn.text %>
</div><%
  end %>
</div><%
end %><%
unless nofooter %>
<div id="footer">
<div id="footer-text"><%
if attr? :revnumber %>
<%= %(#{attr 'version-label'} #{attr :revnumber}) %><br><%
end
if attr? 'last-update-label' %>
<%= %(#{attr 'last-update-label'} #{attr :docdatetime}) %><%
end %><%= (docinfo_content = (docinfo :footer)).empty? ? nil : %(
#{docinfo_content}) %>
</div>
</div><%
end %>
</body>
</html>
